/* STYLES */

.app__block_firefront {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
}

.form-group {
  margin: 0 !important;
  margin-right: 10px !important;
}

.form-control {
  font-size: 1rem;

  &::placeholder {
    color: #333;
    opacity: 1;
    font-size: 14px;
  }
}

label {
  font-size: 16px;
  font-weight: 500;
}


.total__payment
{
	display: flex;
	justify-content: flex-end;
	align-items: center;
  margin: 60px 0 30px;
  
  @include mq('tablet', max) {
    margin: 20px 0px 0;

    input {
      margin-left: 0 !important;
    }
  }
}

.total__payment label{
	font-size: 24px;
	font-weight: 600;
}

.total__payment input
{
	width: 170px;
	font-size: 20px;
	margin-left: 10px;
	background: #fff!important;
}