/*================================================================================
	Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
	Version: 2.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */
/* BUTTON MIXIN 
============================================= */
.card-two.active .media::after {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* PRO BUTTONS =========================================================== */
.pro__btn {
  min-width: 200px;
  display: inline-block;
}

.pro__btn i {
  top: 1px;
  font-size: 16px;
  padding-left: 5px;
}

.btn-danger {
  background-color: #ad0015 !important;
  border-color: #ad0015 !important;
}

.back-to {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #263238;
}
.back-to i {
  font-size: 18px;
  position: relative;
  top: 1px;
}

.table th,
.table td {
  border-top-color: #ebeff4;
  font-weight: 600;
  font-size: 14px;
  color: #000;
  font-weight: 400;
}

@media only screen and (max-width: 1023px) {
  .table td {
    min-width: 150px;
  }
}

.table td:first-of-type {
  padding-left: 0;
}

.table td:last-of-type {
  padding-right: 0;
  text-align: right;
}

.table .danger-zone td {
  color: #ad0015;
}
@media only screen and (max-width: 767px) {
  .table .danger-zone td {
    min-width: 150px;
  }
}

.charts {
  height: 220px;
}

/* NEW */
.icon__mr {
  margin-right: 10px;
}

.pro__form .custom-control {
  margin-bottom: 10px;
}

.pro__block {
  position: relative;
  width: 100%;
  height: auto;
}

#invoice-customer-details {
  font-size: 16px;
  font-weight: 400;
}
#invoice-customer-details .form-group {
  margin-right: 0 !important;
}
#invoice-customer-details p {
  margin-bottom: 4px;
}

/* STYLES */
.app__block_firefront {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
  padding: 0 0 1rem;
}

.form-group {
  margin: 0 !important;
  margin-right: 10px !important;
}

.form-control {
  font-size: 1rem;
}
.form-control::placeholder {
  color: #333;
  opacity: 1;
  font-size: 14px;
}

label {
  font-size: 16px;
  font-weight: 500;
}

.total__payment {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  margin: 60px 0 30px;
}
@media only screen and (max-width: 767px) {
  .total__payment {
    margin: 20px 0px 0;
  }
  .total__payment input {
    margin-left: 0 !important;
  }
}

.total__payment label {
  font-size: 24px;
  font-weight: 600;
}

.total__payment input {
  width: 170px;
  font-size: 20px;
  margin-left: 10px;
  background: #fff !important;
}

.card-two .media {
  background: #fff;
  border-radius: 8px;
  padding: 0.5rem;
  align-items: center;
}
.card-two .print__media-body h2 {
  color: #000;
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0;
}

.card-two.active .media {
  position: relative;
}
.card-two.active .media::after {
  content: url("../img/check-icon.png");
  position: absolute;
  right: 20px;
  top: 55%;
  z-index: 11;
}

.app-logo {
  max-width: 100%;
  height: auto;
  transition: 300ms ease all;
}

.main-menu .navbar-header {
  height: auto;
  margin-bottom: 3rem;
}
@media only screen and (min-width: 768px) {
  .main-menu .navbar-header {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

body.vertical-layout.vertical-menu-modern.menu-expanded .main-menu {
  width: 285px;
  background: #024870;
}

.header-navbar.floating-nav {
  width: calc(100vw - (100vw - 100%) - calc(0em * 2) - 280px);
}

html body .content {
  margin-left: 280px;
}

.menu-collapsed .app-logo {
  max-width: 60px;
  height: auto;
}

.menu-collapsed .main-menu .navbar-header {
  padding-left: 1.1rem;
}

html body {
  background-color: #f9fbfe;
}

.card {
  border: 1px solid rgba(105, 96, 150, 0.1);
  border-radius: 16px;
  box-shadow: unset;
}
.check__card {
  border: 1px solid rgba(105, 96, 150, 0.1);
  background-color: #fff;
  border-radius: 16px;
  box-shadow: unset;
  margin-bottom: 1rem;
}
.navigation {
  font-size: 1.5rem;
  font-weight: 500;
}
.navigation .nav-item .menu-content .menu-item {
  font-size: 1.3rem;
  font-weight: 500;
}

.btn {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 16px;
  line-height: 1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.btn-outline-primary {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-color: #fff;
}
.btn-outline-primary:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
  border-color: #fff;
}

.chart-btn-group button {
  margin-right: 4px;
  background: #f5f6fa;
}
.chart-btn-group button i {
  font-size: 28px;
}

.app__winput {
  width: 280px !important;
  max-width: 100% !important;
}

textarea.app__winput {
  height: 100px;
  min-height: 100px !important;
}

.delivery__map {
  position: relative;
  width: 100%;
  display: block;
  border-radius: 15px;
  border: 0;
}

.icon__ml {
  margin-left: 5px;
}

@media only screen and (max-width: 767px) {
  .app__block_firefront > div {
    width: 100%;
  }
  .app__block_firefront .form-label-group {
    width: 100% !important;
  }
  .app__block_firefront .form-label-group input {
    width: 100% !important;
    display: block;
  }
}

.app__table_tr {
  width: 50px;
}

.scane-img {
  border-radius: 20px;
  border: 1px solid rgba(105, 96, 150, 0.1);
  width: 320px;
  height: 320px;
}
@media only screen and (max-width: 767px) {
  .scane-img {
    width: 100%;
  }
}
.scane-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

/* ---------------------------------------------authorization------------------------------------- */

.authorization {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #024870;
  position: relative;
}

.authorization__logo {
  display: flex;
  justify-content: center;
}

.authorization__title {
  font-size: 2em;
  color: #fff;
  font-weight: 700;
  margin: 0 auto 2rem auto;
}

.authorization__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.authorization__logo {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.authorization__name-input input[type="text"],
.authorization__password-input input[type="password"] {
  background: #1d5371;
  font-size: 1.2em;
  margin-bottom: 1rem;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  border: none;
  padding-left: 4rem;
  color: #fff;
}
input::placeholder {
  color: #ffffff;
  font-size: 18px;
  opacity: 0.5;
}

input:active {
  outline: 0;
}
input:hover {
  outline: 0;
}

input:focus {
  outline: 0;
  background-color: inherit;
  color: #000;
}

.authorization__name-input {
  position: relative;
  width: 315px;
  height: 50px;
  margin-bottom: 1rem;
}

.authorization__name-input:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 16px;
  margin: auto 0;
  width: 30px;
  height: 35px;
  background: url("/assets/img/login-img.png") no-repeat;
  background-size: cover;
}

.authorization__password-input {
  position: relative;
  width: 315px;
  height: 50px;
}

.authorization__password-input:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 18px;
  margin: auto 0;
  width: 27px;
  height: 35px;
  background: url("/assets/img/password-img.png") no-repeat;
  background-size: cover;
}

.save-checkbox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin: 2rem 0;
}

.save-checkbox__input {
  border-radius: 10px 10px 10px 10px;
}

.save-checkbox__label {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  padding: 0 1rem;
}

.authorization__btn {
  background-color: #fff !important;
  color: #033f61;
  width: 100%;
  height: 60px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 700;
  margin-top: 1rem;
}

.authorization__btn:hover {
  background-color: #033f61 !important;
  color: #fff;
}

.authorization__btn:active {
  background-color: #033f61 !important;
  color: #fff !important;
}
.authorization__btn:focus {
  background-color: #033f61 !important;
  color: #fff !important;
}

.authorization__footer {
  position: absolute;
  bottom: 5%;
  display: flex;
  flex-direction: column;
  width: 315px;
  text-align: center;
}

.authorization__footer a {
  font-size: 1.1em;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
  opacity: 0.6;
}

.authorization__footer a:hover {
  opacity: 1;
  color: #fff;
}

.footer__support-contact {
  color: #fff;
  padding-bottom: 0.5rem;
}

.footer__user-guide {
  color: #fff;
  text-decoration: underline;
}

.footer__user-guide:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 321px) {
  .authorization__name-input {
    display: flex;
    justify-content: center;
  }
  .authorization__name-input:before {
    left: 27px;
  }
  .authorization__name {
    width: 90% !important;
  }
  .authorization__password-input {
    display: flex;
    justify-content: center;
  }
  .authorization__password-input:before {
    left: 30px;
  }
  .authorization__password {
    width: 90% !important;
  }
  .save-checkbox {
    width: 85%;
  }
  .authorization__btn {
    width: 90%;
  }
}

@media only screen and (max-width: 376px) {
  .footer__support-contact {
    padding-bottom: 0.7rem;
  }
  .authorization__btn {
    margin-bottom: 2rem;
  }
}

/* -----------------------------------------------------main-page------------------------------------------------ */

.advertising__img {
  width: 100%;
  max-height: 100%;
}

.advertising__text {
  color: #000;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  margin-top: 1rem;
}

.fa-bell {
  font-size: 20px;
  color: #3774ce;
}

.badge-down {
  position: absolute;
  top: 38px;
  left: 58px;
  font-size: 8px;
  background: #2ac17e !important;
  color: #2ac17e;
  width: 10px;
  height: 10px;
}

.user-name {
  font-size: 16px;
  color: #2a2a2a;
  margin-bottom: 0 !important;
}

.dropdown-user {
  display: flex;
  align-items: center;
}

.promotion-btn {
  background-color: inherit !important;
  border: none;
  box-shadow: none;
  color: #3774ce !important;
  font-size: 16px;
  font-weight: 500;
  text-decoration: underline;
}
.promotion-btn:hover {
  border: none !important;
  color: #3774ce !important;
  box-shadow: none;
}
.main-title {
  font-size: 20px;
  font-weight: 500;
  color: #000000;
  padding-left: 2rem;
}

.date-group {
  padding: 0 0 2rem 1rem;
}
.date-input {
  border: 1px solid rgba(105, 96, 150, 0.1);
  border-radius: 10px;
  width: 155px;
  padding: 1rem;
  color: #000;
}

@media only screen and (max-width: 500px) {
  .badge-down {
    left: 48px;
  }
  .badge-up {
    right: 2px !important;
  }
  h3 {
    font-size: 1.41rem;
  }
}

@media only screen and (max-width: 768px) {
  .right-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
  }
  .left-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
  }
}
@media only screen and (min-width: 768px) {
  .chart-btn-group {
    display: flex;
  }
  .right-buttons {
    display: flex;
    justify-content: space-around;
    width: 50%;
  }
  .left-buttons {
    display: flex;
    justify-content: space-around;
    width: 50%;
  }
}
@media only screen and (min-width: 1024px) {
  .card-top {
    height: 580px;
  }
  .card-bottom {
    height: 300px;
  }
  .chart-btn-group {
    flex-direction: column;
  }
  .left-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
  .right-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
  }

  .card-body-bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media only screen and (min-width: 1441px) {
  .dis-flex {
    display: flex;
  }
  .charts {
    width: 60%;
  }
  .chart-text {
    width: 50%;
  }
  .chart-btn-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .left-buttons {
    width: 50%;
    display: flex;
    justify-content: space-around;
    margin: 0;
  }

  .right-buttons {
    width: 50%;
    display: flex;
    justify-content: space-around;
    margin: 0;
  }

  .card-top {
    height: 400px;
  }
  .card-bottom {
    height: 310px;
  }
  .card-content {
    height: 100%;
  }

  .card-body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}

/* ----------------------SCAN-page--------------------- */
.scan__card {
  background-color: #fff;
  height: 60px;
  border-radius: 8px;
  margin-bottom: 1.5rem;
}

.scan__link {
  padding: 0.5rem 1rem;
}

.scan__img-block {
  width: 48px;
  height: 48px;
  background: #3774ce;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
}

.scan__title {
  font-size: 1.4em;
  font-weight: 700;
  color: #000;
}

.scan-body__card {
  height: 600px;
}

/* -----------------------------------------HISTORY-------------------------------------- */

.history-card {
  margin-bottom: 1rem;
}

.history__button {
  position: relative;
  width: 250px;
  padding-left: 3rem;
}

.history__button::before {
  content: "";
  background-image: url(/assets/img/history-button-icon.png);
  position: absolute;
  left: 15px;
  width: 20px;
  height: 18px;
}

@media only screen and (max-width: 500px) {
  .row-button-block {
    flex-direction: column-reverse;
  }
}

/* ----------------------------------------PRINT-------------------------------------- */
.print__card {
  background-color: inherit;
  border: none;
}

/* ------------------------------------cashbox---------------------------------------- */

.cashbox__submit {
  width: 130px;
  height: 30px;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: #fff;
  color: gray;
  font-size: 14px;
}

.cashbox__submit:hover,
.cashbox__submit:active,
.cashbox__submit:focus {
  color: #3774ce;
  border-color: #3774ce;
}

.cashbox__delete {
  width: 130px;
  height: 30px;
  border: 1px solid #fc5252;
  border-radius: 5px;
  background-color: #fff;
  color: #fc5252;
  font-size: 14px;
}

.cashbox__delete:hover {
  color: #fff;
  background-color: #fc5252;
  transition: ease-in 0.2s;
}

.delete-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 40px;
  border: 1px solid #fc5252;
  border-radius: 5px;
  background-color: #fff;
  color: #fc5252;
  font-size: 14px;
}

.delete-button:hover {
  color: #fff;
  background-color: #fc5252;
  transition: ease-in 0.2s;
}

.cashbox__today {
  font-size: 1rem;
  font-weight: 400;
  color: #8c8c8c;
}
.cashboy__quantity {
  font-size: 1.5rem;
  font-weight: 700;
  color: #2a2a2a;
}

.cashbox__button-check {
  width: 170px;
  height: 50px;
}
.cashbox__button-add {
  height: 50px;
}

.cashbox__date {
  height: 50px;
  border-radius: 5px;
}

.cashbox__input-number {
  border: 1px solid rgba(105, 96, 150, 0.1);
  border-radius: 5px;
  padding: 1rem;
  height: 50px;
}
.cashbox__input-number::placeholder {
  color: #000;
}

.cashbox__base {
  border: 1px solid rgba(105, 96, 150, 0.1);
  border-radius: 5px;
  padding: 1rem;
  height: 50px;
}
.cashbox__base:active,
.cashbox__base:focus {
  outline: 0;
}

.cashbox__dropdown {
  background-color: #fff !important;
  color: #000 !important;
  border: 1px solid rgba(105, 96, 150, 0.1) !important;
  box-shadow: none;
  border-radius: 5px;
  padding: 1rem !important;
  height: 50px;
  font-size: inherit;
}

.cashbox__dropdown:active,
.cashbox__dropdown:focus,
.cashbox__dropdown:hover {
  color: #000 !important;
  box-shadow: none !important;
}

.btn-secondary ~ .dropdown-menu .dropdown-item:not(.active):not(:active):hover,
.btn-outline-secondary ~ .dropdown-menu .dropdown-item:not(.active):not(:active):hover,
.btn-flat-secondary ~ .dropdown-menu .dropdown-item:not(.active):not(:active):hover {
  color: #fff !important;
}

.btn-new {
  background: #3774ce !important;
}

@media only screen and (max-width: 530px) {
  .media-sm {
    margin-bottom: 1rem;
  }
  .media-flex {
    justify-content: center;
  }
}

/* ---------------------------income--------------- */

.income__form-control-position {
  left: 5px;
  top: 9px;
}

.income__border-top {
  border-top: 1px solid #f8f8f8;
}

.income__search {
  padding-left: calc(1.25em + 1.4rem + 1px);
  color: #8c8c8c !important;
  height: 50px;
}

.income__icon-search {
  font-size: 17px;
}

.income__modal-inner p {
  margin: 0!important;
  padding-bottom: 1rem;
}

.income__modal-item {
  display: flex;
}

.income__modal-item-left {
  width: 160px;
}

.income__modal-item-right {
  width: 230px;
}
.income__modal-item-right-number {
  width: 100px;
}

.income__modal-dialog {
  max-width: 650px!important;
  margin: 20rem auto!important;
}

.income__modal-footer {
  border: none;
}

.income__modal-input::placeholder {
  color: rgba(142, 146, 161, 0,5);
}

.income__button-cancel {

}

@media only screen and (max-width: 769px) {
  .income__form-control-position {
    left: 17px;
  }
}

/* --------------------------expense--------------------- */

.expense__thead {
  border-top: 1px solid #ebeff4;
}
.expense__dropdown::after {
  display: none;
}

.expense__tab-content {
  display: none;
}

.expense__tab {
  text-align: center;
  padding: 0 1.5rem;
}

.expense__tabs-items {
  position: relative;
}

.expense__input {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.expense__tab:hover {
  cursor: pointer;
}

.tab-1,
.tab-2,
.tab-3 {
  position: relative;
}

.tab-1::after,
.tab-2::after,
.tab-3::after {
  content: " ";
  position: absolute;
  bottom: -21px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #3774ce;
  display: none;
}

#tab-1:checked ~ .tab-1::after,
#tab-2:checked ~ .tab-2::after,
#tab-3:checked ~ .tab-3::after {
  display: block;
}

#tab-1:checked ~ .tab-content-1,
#tab-2:checked ~ .tab-content-2,
#tab-3:checked ~ .tab-content-3 {
  display: block;
}

.bgc-success {
  border-radius: 30px;
  background-color: rgba(42, 193, 126, 0.15);
  width: 50%;
}

.bgc-warning {
  border-radius: 30px;
  background: rgba(254, 196, 0, 0.15);
  width: 50%;
}

.bgc-danger {
  border-radius: 30px;
  background: rgba(252, 82, 82, 0.15);
  width: 50%;
}

.expense__price p {
  margin: 0;
}

.expense__info {
  justify-content: space-between;
  width: 90%;
}

.expense__p {
  font-size: 16px;
  font-weight: 500;
  color: rgba(42, 42, 42, 1);
}

.expense__price-item {
  width: 300px;
  border-bottom: 1px solid #ebeff4;
  padding: 1rem 0;
}

.expense__price-name {
  color: #000;
}

.new-btn {
  background-color: #fff !important;
  color: rgba(55, 116, 206, 1);
  border: 1px solid rgba(55, 116, 206, 1);
  width: 190px;
  box-shadow: none !important;
}

.new-btn:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
}

@media only screen and (max-width: 1680px) {
  .bgc-warning,
  .bgc-success,
  .bgc-danger {
    width: 100%;
  }
}
@media only screen and (max-width: 800px) {
  .expense__info {
    width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  .tab-1::after,
  .tab-2::after,
  .tab-3::after {
    bottom: -5px;
  }

  .expense__tab {
    width: 100%;
    padding-top: 1rem;
  }

  .tab-1 {
    padding: 0;
  }
  .expense__thead {
    flex-direction: column;
    align-items: center;
  }

  .expense__date-block {
    margin: 0 !important;
    padding-bottom: 1rem;
  }
  .expense__total-payment {
    margin: 0 !important;
    padding: 0 !important;
  }

  .expense__info {
    flex-direction: column;
  }
  .expense__price {
    padding: 0 !important;
    align-items: flex-start !important;
  }
  .expense__price-item {
    width: 250px;
  }

  .expense__buttons {
    flex-direction: column;
  }

  .expense__button-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
  }
  .expense__button-left .new-btn:first-child {
    margin-bottom: 1rem;
  }
  .expense__button-left .new-btn:last-child {
    margin-left: 0 !important;
  }
  .expense__form {
    justify-content: center;
  }
}
