.scane-img {
  border-radius: 20px;
  border: 1px solid rgba($color: #696096, $alpha: .1);

  width: 320px;
  height: 320px;

  @include mq('tablet', max) {
    width: 100%;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }
} 